<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Fresca Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p><strong><a href="https://github.com/cde/burger" target="_blank"><i class="fab fa-github"></i> Samples</a></strong> by <a href="http://carmen.soy">Carmen</a>.
                    </p>
                </div>
            </div>
        </footer>
	</body>
</html>