<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Burgeration!</h1>
            <h4 class="subtitle">Eat-Da-Burger!</h4>
            <h5>Because we all need to make time to devour a burger once in a while</h5>
        </div>
    </div>
</section>
<section class="section has-background-light">
    <div class="container">
        <div class="columns is-mobile is-3">
            <div class="column is-one-quarter">
                <ol>
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{> burgers/burger-info devourit=true}}
                        {{/unless}}
                    {{/each}}
                </ol>
            </div>
            <div class="column">
                <form class="create-form">
                    <div class="field">
                        <label class="label">Burger Name</label>
                        <div class="control has-icons-right">
                            <input class="input s-primary" name="burger_name" type="text" placeholder="Enter the Fresh Burger you want to eat">
                            <span class="icon is-small is-right warning" style="display:none">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                        <p class="help is-danger">Please order the fresh burger you would like to eat</p>
                    </div>
                    <div class="control">
                        <button class="button is-primary">Submit</button>
                    </div>
                </form>
            </div>
            {{> burgers/devoured-burgers}}
        </div>
    </div>